DATABASE_URL="file:./dev.db"
PORT=4000
API_KEY="cambiame-por-una-clave-larga"

TELEGRAM_BOT_TOKEN="pega_aca_el_token_que_te_da_botfather"
TELEGRAM_CHAT_IDS="pega_aca_tu_id_de_usuario"

EMAIL_USER="tu_correo_de_la_grafica@gmail.com"
EMAIL_PASS="tu_clave_de_aplicacion_de_16_letras"